<!DOCTYPE html>
<html>
  <head>
    <style>
    .text {
      text-align: center;
      max-width: 400px;
    }
    .img {
      vertical-align: text-bottom;
      width: 400px;
      height: auto;
    }
    </style>
    <title>
      Food2Fork Engine
    </title>
  </head>
  <body>
      <form action = "/" method = "post">
        <input name = "ingredient" type = "text" placeholder = "Enter Ingredient(s)" required>
        <input type = "submit" class = "button" value = "Submit">
      </form>
      <% if(page !== null) { %>
        <table style = "width:1300px">
          <% var counter = 0 %>
          <% for (recipe of page) { %>
            <% if(counter % 3 == 0) { %>
              <tr>
                <% } %>
                <td style = "vertical-align:10%">
                  <p class = "text"> <strong>
                    <%= recipe.title %>
                  </p> </strong>
                  <a href = "<%= recipe.f2f_url %>" target = "_blank">
                    <img src = "<%= recipe.image_url %>" class = "img" >
                  </a>
                </td>
                <% if(counter++ % 3 == 2) { %>
                  </tr>
                <% } %>
          <% } %>
        </table>
      <% } %>
      <% if(error !== null) { %>
        <p>
          <%= error %>
        </p>
      <% } %>
  </body>
  </html>
